# rcov generated
coverage

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg

# MacOS
.DS_Store

# TextMate
*.tmproj
tmtags

# Other
.rspec
log/
log/*.log
fixtures/
fixtures/*

# Allow VCR cassettes
!spec/fixtures/vcr_cassettes/
*.gem

# Documentation files
*.pdf
*.xls
*.xlsx

# Private keys and certificates
*-pkey
*-req
*.pem
*.key
*.crt
*.p12